body {
  background: lightblue;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

.container-2 {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 67%;
  min-height: 30vh;
}

.a, .b, .c, .d, .e, .f, .g, .h {
  border-style: solid;
  text-align: center;
  padding: 1em;
  flex-grow: 1;
  font-size: 20px;
  margin: 10px;
}

.a {
  flex-grow: 1;
  flex-basis: 100%;
  margin: 15px 15px 10px 10px;
}

.b, .c, .d {
  flex-basis: 20%;
  margin: 10px;
}

.e, .f, .g {
  flex-basis: 20%;
  margin: 10px;
}

.h {
  margin: 10px 15px 10px
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .container-2 {
    display: flex;
    flex-basis: 100%;
    min-height: 45vh;
  }

  .b, .c, .d {
    flex-basis: 20%;
  }

  .e, .f, .g {
    flex-basis: 20%;
  }

}
